.AnswerItem {
  border: 1px solid #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &.success {
    background-color: green;
  }

  &.error {
    background-color: red;
  }
}